[submodule "salt/roots/formulas/nodejs-formula"]
	path = salt/roots/formulas/nodejs-formula
	url = https://github.com/extra2000/nodejs-formula.git
[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
