[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
[submodule "salt/roots/formulas/semantic-release-formula"]
	path = salt/roots/formulas/semantic-release-formula
	url = https://github.com/extra2000/semantic-release-formula.git
